/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-posts-by-tabs {
	background-color: #b1b1b1;
	color: #fff;
	padding: 2px;
	border-radius: 2px;
}

.posts-by-tabs-block.alignfull {
    width: 100%; 
    min-width: 100%;
}

body .MuiFormControl-root {
    input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
        padding:4px 0 5px!important;
        min-height: 30px;
        border-radius: 0;
        border: unset;
        background: none;
        color: black; 
    }
}
